@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
}

.header {
  border-bottom: solid 1px #9a9a9a;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
}

.title {
  color: #9a9a9a;
  font-weight: 200;
  margin-left: 160px;
}

.content {
  margin: 0 160px;
  position: absolute;
  top: 14%;
}

.button {
  background: #5da7a9;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0 0 30px;
  outline: none;
  padding: 10px 15px 8px;
  text-transform: uppercase;
}

.button:hover {
  background: #4d888a;
  color: white;
}

ul {
  font-size: 17px;
  line-height: 26px;
}

li {
  font-weight: bold;
}

a {
  color: #5da7a9;
  text-decoration: underline;
}

a:hover {
  color: #000000 
}

h2 {
  color: #9a9a9a;
  font-weight: 200;
}