@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');

* {
  font-family: 'Nunito', sans-serif;
}

html, body {
  margin: 0;
  /* height: 100%; */
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  overflow-y: auto;
}

.content {
  margin: 0 14%;
  flex: auto;
}

.header {
  border-bottom: solid 1px #9a9a9a;
  flex: 1 0 10%;
  background: white;
}

.navbar-buttons {
  font-size: 17px;
  float: right;
  list-style-type: none;
  margin: 28px 140px 28px 0;
  padding: 0;
  overflow: hidden;
}

.navbar-buttons li, .navbar-buttons li:hover {
  font-weight: 400;
  float: left;
  margin: 0 20px;
}

.navbar-buttons li:hover {
  cursor: pointer;
  color: #5da7a9;
}

.navbar-buttons li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.title {
  color: #9a9a9a;
  float: left;
  font-weight: 200;
  margin-left: 14%;
}

@media only screen and (max-width: 400px) {
  .content {
    margin: 0 60px;
  }
}

.button {
  background: #5da7a9;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0 0 30px;
  outline: none;
  padding: 10px 15px 8px;
  text-transform: uppercase;
}

.button:hover {
  background: #4d888a;
  color: white;
}

ul {
  font-size: 17px;
  line-height: 26px;
}

li {
  font-weight: bold;
}

a {
  color: #5da7a9;
  text-decoration: underline;
}

a:hover {
  color: #000000;
}

h2 {
  color: #9a9a9a;
  font-weight: 200;
}

#space1,
#space2,
#space3,
#space4 {
  height: 4vh;
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 798px) {
  .navbar-menu {
    display: block;
  }

  .navbar-buttons {
    display: none;
  }
}

#toggle-button {
  height: 4%;
  width: 4%;
  background: white;
  margin: 28px 140px 28px 0;
}

.button-container {
  text-align: center;
}

.buttons {
  margin-left: 8%;
}

.nested-list li {
  font-weight: 400;
}

.tooltip {
  position: absolute;
  font-size: 12px;
  width: auto;
  height: auto;
  pointer-events: none;
  background-color: #4d888a;
  border: 1px solid #4d888a;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}

.trendline {
  stroke: #9a9a9a;
  stroke-width: 2px;
  stroke-opacity: 0.75;
}

.chartTitle {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.barChartTitle {
  margin-bottom: 10px;
  text-align: center;
}